.explore-travel-guide-page{
    height: 120%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to bottom, rgb(64, 4, 161), rgb(196, 13, 132));
}
.search-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.explore-search-input{
    width: 80vw;
    height: 35px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px;
}
.explore-heading{
    color: rgb(4, 4, 230);
}
.heading-span{
    color: rgb(229, 8, 152);
}
.explore-nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    
}
.button-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    
}
.button{
    color: white;
    height: 50px;
    width: 230px;
    background-color: transparent;
    border: 2px solid rgb(211, 9, 140);
    border-radius: 10px;
    margin-right: 20px;
    font-size: 15px;
}
.heading{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    color: rgb(211, 9, 140);
    margin: 5px;
}
.myntra-word{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 5px; 
}
.slide-image{
    width: 120px;
    height: 180px;
}
.shop-item-container{
    border: 1px solid white;
    background-image: linear-gradient(to bottom, rgb(94, 92, 92), black);
    border-radius: 20px;
    width: 90vw;
    height: 200px;
    margin-top: 20px;
    padding: 10px;
}
.shop-now-button{
    background-color: rgb(212, 3, 111);
    height: 30px;
    width: 150px;
    outline: none;
    border-radius: 10px;
    border: 0px;
    color: white;
    font-size: 15px;
}
.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.reel-logo{
    width: 15px;
    margin-right: 10px;
}
.paragraph{
    font-size: 15px;
    color: white;
    margin: 5px;
    
}
.paragraph-reel{
    font-size: 15px;
    border: 1px solid white;
    color: white;
    background-color: rgb(89, 89, 89);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0px;  
    margin: 0px;
}
.explore-span-element{
    color: rgb(8, 89, 240);
}
.list-images{
    width: 25px;
    margin-right: 10px;
    border-radius: 5px;
}