.addtravelnewpostpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    background-size: cover;
    height: 110%;
}
.addtravelnewpost-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}
.active-travel-button{
    height: 50px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    background-color: rgb(35, 131, 241);
    color: white;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
}
.travel-button{
    height: 50px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
}
.button-container{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.details-input{
    width: 95%;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
}
@media (min-width: 768px){
    .addtravelnewpost-container{
        width: 40vw;
        padding: 10px;
    }
}